@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
@font-face{
    font-family: Hussar;
    src: url(fonts/HussarEkologiczne1.otf)
}
/* login.html Specifcations */
.login-container{
    margin-top:100px;
    background-color: #414b3b;
}
.logo-container{
    height:200px;
    background-image: url("../images/clanker-logo.jpeg");
}
.header-container{
    height:100px;
    background-image: url("../images/clanker-logo-min.png")
}
.login-form-container{
    background-color: #fff9f3
}
/* Base.html Specifications */
body{
    background-color: #fff9f3;
    font-family: Montserrat, 'sans-serif';
}
nav{
    height:75px;
    background-color: #414b3b;
    border-bottom: 2px solid #ab8742
}
nav .brand-logo{
    font-family: Hussar, 'sans-serif';
}
nav ul a:hover{
    color: #d8c39a;
}
a {
    text-decoration: none;
}
.content-container>div{
    border:4px solid #ab8742;
    background:#fff;
    border-radius: 5px;
}
nav .dropdown-content li{
    width:225px;
}
/* General Styling Specifications */
.underline{
    text-decoration: underline;
}
.uppercase{
    text-transform: uppercase;
}

.dropdown-content li>a.font-12{
    font-size:12px;
}
.font-10{
    font-size:10px;
}
.font-12{
    font-size:12px;
}
.font-18{
    font-size:18px;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-green{
    color: #414b3b !important;
}
a.text-green:hover{
    color: #515e4a !important;
}
.text-black{
    color: #212529 !important;
}
.text-gold{
    color:#ab8742 !important; 
}
.text-gold:hover{
    color: #c3a365 !important; 
}
.hover-gold:hover{
    color: #c3a365 !important; 
}
.text-white{
    color:#fff9f3 !important;
}
.dropdown-content li>span{
    color: #212529;
}
a.text-decoration-none{
    text-decoration: none;
}
.lh-50{
    line-height: 50px;
}
.lh-85{
    line-height: 85px;
}
.no-hover:hover{
    text-decoration: none;
}
.active-day-col{
    background-color: rgba(0, 0, 0, 0.1);
}
.active-event-card{
    border: 4px solid #ab8742;
}
/* General Spacing Specifications */
.row .col{
    padding-left: 0px;
    padding-right: 0px;
}
.width-50{
    width:50%;
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}
.inline-block{
    display:inline-block;
}
.float-right{
    float:right;
}
.margin-bot-0{
    margin-bottom:0;
}
.margin-bot-50{
    margin-bottom:50px;
}
.margin-top-25{
    margin-top: 25px;
}
.margin-left-5{
    margin-left: 5px;
}
.margin-left-15{
    margin-left: 15px;
}
.margin-left-25{
    margin-left: 25px;
}

.margin-right-15{
    margin-right: 15px;
}
.padding-tab-15{
    padding: 15px 0;
}
/* Schedule Styling Specifications */
#welcome-div{
    line-height:40px;
    border: 1px solid #d8c39a;
    border-radius: 2px;
    background:#fff;
}
.schedule-column-header, #timeline-col li{
    border-bottom: 1px solid #8a9c82;
}
.schedule-column-header, #timeline-col{
    background-color: #eddfc5;
}
.schedule-column-header, #timeline-col li{
    line-height:50px;
    height:50px;
}
.day-col:not(:last-child){
    border-right:1px solid #8a9c82;
}
.event-card-unit{
    position: absolute;
    color: #fff9f3;
    background-color: #414b3b;
    width:100%;
}
.event-card-unit:hover{
    background-color:#65765d;
}
/* Button Styling Specifications */
.clanker-button{
    background-color: #414b3b;
    color: #fff9f3;
}
.clanker-button:hover{
    background-color: #65765d;
}
.action-button{
    min-width:125px;
}
/* Secondary Pages Specifications */
.list-container{
    background-color:#fff;
}
.list-container .row{
    min-height:50px;
    margin-bottom:0px;
}
.list-container .row:nth-child(even){
    background-color:#f9f9f9;
}
.form-container{
    background-color:#fff;
}
.form-container .row{
    height:85px;
    margin-bottom:0px;
}
.form-container .row:nth-child(even){
    background-color:#f9f9f9;
}
.datepicker-modal{
    height:350px;
}
.datepicker-date-display, .datepicker-table td.is-selected{
    background-color: #65765d;
}
.datepicker-cancel, .datepicker-done, .is-today{
    color: #65765d;
}
