
/* General Spacing Specifications */
.display-none{
    display: none;
}
.inline-block{
    display:inline-block;
}
/* Schedule Styling Specifications */
.schedule-column-day{
    border-left:1px solid #000;
    border-right:1px solid #000;
}
.schedule-column-header{
    height:50px;
    border-bottom:1px solid #000;
}
#timeline-col li{
    height:50px;
    border-bottom:1px solid #000;
}
.event-card-unit{
    position: absolute;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width:auto;
}