@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
@font-face{
    font-family: Hussar;
    src: url(fonts/HussarEkologiczne1.otf)
}

/* Base.html Specifications */
body{
    background-color: #fff9f3;
    font-family: Montserrat, 'sans-serif';
}
nav{
    height:75px;
    background-color: #414b3b;
    border-bottom: 2px solid #ab8742
}
nav .brand-logo{
    font-family: Hussar, 'sans-serif';
}
nav ul a:hover{
    color: #d8c39a;
}
a {
    color:#fff9f3;
    text-decoration: none;
}
/* General Styling Specifications */
.underline{
    text-decoration: underline;
}
.uppercase{
    text-transform: uppercase;
}
.font-12{
    font-size:12px;
}
.font-18{
    font-size:18px;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-green{
    color: #414b3b !important;
}
a.text-green:hover{
    color: #515e4a !important;
}
.text-gold{
    color:#ab8742 !important; 
}
.text-gold:hover{
    color: #c3a365 !important; 
}
.text-white{
    color:#fff9f3 !important;
}
.lh-50{
    line-height: 50px;
}
.lh-85{
    line-height: 85px;
}
.no-hover:hover{
    text-decoration: none;
}
.active-day-col{
    background-color: rgba(0, 0, 0, 0.1);
}
/* General Spacing Specifications */
.row .col{
    padding-left: 0px;
    padding-right: 0px;
}
.width-50{
    width:50%;
}
.display-none{
    display: none;
}
.inline-block{
    display:inline-block;
}
.margin-bot-0{
    margin-bottom:0;
}
.margin-left-5{
    margin-left: 5px;
}
.margin-left-25{
    margin-left: 25px;
}
.margin-top-25{
    margin-top: 25px;
}
.margin-bot-50{
    margin-bottom:50px;
}
.padding-tab-15{
    padding: 15px 0;
}
/* Schedule Styling Specifications */
#welcome-div{
    line-height:40px;
    border: 1px solid #d8c39a;
    border-radius: 2px;
    background:#fff;
}
#schedule-container{
    border:4px solid #ab8742;
    background:#fff;
    border-radius: 5px;
}
.schedule-column-header, #timeline-col li{
    border-bottom: 1px solid #8a9c82;
}
.schedule-column-header, #timeline-col{
    background-color: #eddfc5;
}
.schedule-column-header, #timeline-col li{
    line-height:50px;
    height:50px;
}
.day-col:not(:last-child){
    border-right:1px solid #8a9c82;
}
.event-card-unit{
    position: absolute;
    color: #fff9f3;
    background-color: #65765d;
    border-top: 1px solid #c3a365;
    border-bottom: 1px solid #c3a365;
    width:100%;
}
.event-card-unit:hover{
    background-color: #414b3b;
}
.dropdown-content li>a{
    background-color:#fff9f3;
}
/* Button Styling Specifications */
.clanker-button{
    background-color: #414b3b;
    color: #fff9f3;
}
.clanker-button:hover{
    background-color: #65765d;
}
.action-button{
    min-width:125px;
}
/* Secondary Pages Specifications */
.list-container{
    background-color:#fff;
}
.list-container .row{
    height:50px;
    margin-bottom:0px;
}
.list-container .row:nth-child(even){
    background-color:#f9f9f9;
}
.form-container{
    background-color:#fff;
}
.form-container .row{
    height:85px;
    margin-bottom:0px;
}
.form-container .row:nth-child(even){
    background-color:#f9f9f9;
}
.that-one-label{
    font-size: 0.8rem !important;
    top: -26px !important;
}
.datepicker-modal{
    height:350px;
}
.datepicker-date-display, .datepicker-table td.is-selected{
    background-color: #65765d;
}
.datepicker-cancel, .datepicker-done, .is-today{
    color: #65765d;
}
/* Modal Styling Specifications */
#cancel-save-modal{
    height: 175px;
    width: 20%;
}
