{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row margin-top-25">
                    <div class="col-4">
                        <h5 class="uppercase margin-left-25">Appointment Details</h5>
                    </div>
                    <div class="col-2 offset-6 text-center">
                        <a href="{{url_for('create_appointment')}}" class="btn-floating btn waves-effect waves-light tooltipped clanker-button event-button" data-position="left" data-tooltip="SCHEDULE A NEW APPOINTMENT">
                            <i class="material-icons">add</i>
                        </a>
                    </div>   
        </div>
        <div class="row justify-content-md-center">
            <div class="col-8 list-container padding-tab-15">
                    <div class="row lh-50">
                        <div class="col-6">
                            Client Name:
                        </div>
                        <div class="col-6">
                            {% for client in clients %}
                                {% if appointment.client_id|string() == client._id|string() %}
                                    <a href="{{url_for('see_client', client_id=client._id)}}" class="text-green">{{client.first}} {{client.last}}</a>
                                {% endif %}
                            {% endfor %}                            
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Appointment Time:
                        </div>
                        <div class="col-6">
                            {{appointment.start_time}}
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Appointment Duration:
                        </div>
                        <div class="col-6">
                            {% if appointment.appointment_duration == "1" %}
                            30 minutes
                            {% else %}
                            1 hour
                            {% endif %}
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Appointment Date:
                        </div>
                        <div class="col-6">
                            {{appointment.start_date}}
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Appointment Notes:
                        </div>
                        <div class="col-6">
                            {{appointment.appointment_notes}}
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6 offset-6 text-right">
                            <button class="btn waves-effect waves-light clanker-button action-button">
                                <a href="{{url_for('edit_appointment', appt_id=appointment._id)}}" class="text-white no-hover">Edit 
                                    <i class="material-icons right">mode_edit</i>
                                </a>
                            </button>
                            <button class="btn waves-effect waves-light modal-trigger clanker-button action-button" href="#cancel-save-modal">
                                <a class="text-white">Delete
                                    <i class="material-icons right">delete_forever</i>
                                </a>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div id="cancel-save-modal" class="modal">
            <div class="modal-content">
                <p>Are you sure with you to delete this appointment?</p>
            </div>
            <div class="modal-footer">
                <a href="{{url_for('delete_appointment', appt_id=appointment._id)}}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
            </div>
        </div>
{% endblock %}