{% extends 'base.html' %}
{% block content %}
<div id="appointment-details" class="container-fluid">
    <div class="row justify-content-md-center margin-bot-0">
       <div class="col">
            <p class="uppercase margin-top-25 underline">Appointment Details</p>
            <span class="display-none appointment_id_field"></span>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col list-container padding-tab-15">
            <div class="row lh-50">
                        <div class="col-6">
                            Client Name:
                            <span class="client_id_field display-none">{{the_app.client_id}}</span>
                        </div>
                        <div class="col-6">
                            <a href="{{url_for('see_client', client_id=the_app.client_id)}}" class="client_name_field text-black">{{the_app.client_name}}</a>  
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Appointment Time:
                        </div>
                        <div class="col-6">
                            <span id="appointment_time">{{the_app.start_time}} - {{the_app.end_time}}</span>
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Appointment Duration:
                        </div>
                        <div class="col-6">
                            {% if the_app.appointment_duration|string() == "1" %}
                                <span class="appointment_duration">30 Minutes</span>
                            {% endif %}
                            {% if the_app.appointment_duration|string() == "2" %}
                                <span class="appointment_duration">1 Hour</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Appointment Date:
                        </div>
                        <div class="col-6">
                            <span id="appointment_date">{{the_app.start_date}}</span>
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Appointment Notes:
                        </div>
                        <div class="col-6">
                            <span id="appointment_notes">{{the_app.appointment_notes}}</span>
                        </div>
                    </div>
        </div>
    </div>
    <div class="row lh-50">
       <div class="col-8 offset-4 text-right">
            <button id="edit-appt-button" class="btn waves-effect waves-light clanker-button action-button">
                <a href="{{url_for('edit_appointment', prof_id=prof_id, app_id=the_app._id)}}" class="text-white no-hover">Edit 
                    <i class="material-icons right">mode_edit</i>
                </a>
            </button>
            <button id="delete-appt-button" class="btn waves-effect waves-light clanker-button action-button">
                <a href="{{url_for('delete_appointment', prof_id=prof_id, app_id=the_app._id)}}" class="text-white no-hover">Delete
                    <i class="material-icons right">delete_forever</i>
                </a>
            </button>
        </div>
    </div>
</div>

{% endblock %}