<div id="appointment-details" class="container-fluid">
    <div class="row justify-content-md-center margin-bot-0">
       <div class="col">
            <p class="uppercase margin-left-25">Appointment Details</p>
            <span class="display-none appointment_id_field"></span>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col list-container padding-tab-15">
            <div class="row lh-50">
                        <div class="col-6">
                            Client Name:
                            <span class="client_id_field display-none"></span>
                        </div>
                        <div class="col-6">
                            <span class="client_name_field"></span>                
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Appointment Time:
                        </div>
                        <div class="col-6">
                            <span id="appointment_time"></span>
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Appointment Duration:
                        </div>
                        <div class="col-6">
                            <span id="appointment_duration"></span>
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Appointment Date:
                        </div>
                        <div class="col-6">
                            <span id="appointment_date"></span>
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Appointment Notes:
                        </div>
                        <div class="col-6">
                            <span id="appointment_notes"></span>
                        </div>
                    </div>
        </div>
    </div>
    <div class="row lh-50">
       <div class="col-6 offset-6 text-right">
            <button id="edit-appt-button" class="btn waves-effect waves-light clanker-button action-button">
                <p class="text-white no-hover">Edit 
                    <i class="material-icons right">mode_edit</i>
                </p>
            </button>
            <button class="btn waves-effect waves-light modal-trigger clanker-button action-button" href="#cancel-save-modal">
                <a class="text-white">Delete
                    <i class="material-icons right">delete_forever</i>
                </a>
            </button>
        </div>
    </div>
</div>