{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-md-center margin-bot-0">
            <div class="col margin-top-25">
                <p class="uppercase underline inline-block">{{client.first}} {{client.last}}</p>
                <button class="btn waves-effect waves-light clanker-button action-button float-right">
                    <a href="{{url_for('create_appointment_with_client', prof_id=prof_id, client_id=client_id)}}" class="text-white no-hover">New App.
                        <i class="material-icons right">event</i>
                    </a>
                </button>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col list-container padding-tab-15 weight-200">
                    <div class="row lh-50">
                        <div class="col-6 uppercase">
                            Client Name:
                        </div>
                        <div class="col-6">
                            {{client.first}} {{client.last}}                    
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6 uppercase">
                            Client Location:
                        </div>
                        <div class="col-6">
                            {{client.location}}
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6 uppercase">
                            Client Email:
                        </div>
                        <div class="col-6">
                            {{client.client_email}}
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6 uppercase">
                            Client Telephone:
                        </div>
                        <div class="col-6">
                            {{client.client_tel}}
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6 uppercase">
                            Additional Information:
                        </div>
                        <div class="col-6">
                            {{client.additional_notes}}
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-12 text-right">
                            <button class="btn waves-effect waves-light clanker-button action-button">
                                <a href="{{url_for('edit_client', prof_id=prof_id, client_id=client._id)}}" class="text-white no-hover">Edit
                                    <i class="material-icons right">mode_edit</i>
                                </a>
                            </button>
                            <button class="btn waves-effect waves-light modal-trigger clanker-button action-button">
                                <a href="{{url_for('delete_client', prof_id=prof_id, client_id=client._id)}}" class="text-white no-hover">Delete
                                    <i class="material-icons right">delete_forever</i>
                                </a>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block history %}
    <div class="container-fluid">
        <div class="row justify-content-md-center margin-bot-0">
            <div class="col margin-top-25">
                <p class="uppercase underline inline-block">Appointment History</p>
            </div>
        </div>
        <div class="row justify-content-md-center margin-bot-0">
            <div class="col list-container padding-tab-15">
                <table>
                    <tr class="uppercase">
                        <th>Date</th>
                        <th>Time</th>
                        <th>Notes</th>
                    </tr>
                    {% for clapp in client_appointments %}
                    <tr class="weight-200">
                            <td>
                                <a href="{{url_for('see_app_details', prof_id=prof_id, app_id=clapp._id)}}" class="text-black text-decoration-none">{{clapp.start_date}}</a>
                            </td>
                            <td>
                                <a href="{{url_for('see_app_details', prof_id=prof_id, app_id=clapp._id)}}" class="text-black text-decoration-none">{{clapp.start_time}} - {{clapp.end_time}}</a>
                            </td>
                            <td>
                                <a href="{{url_for('see_app_details', prof_id=prof_id, app_id=clapp._id)}}" class="text-black text-decoration-none">{{clapp.appointment_notes}}</a>
                            </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}