{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row margin-top-25">
                    <div class="col-4">
                        <h5 class="uppercase margin-left-25">Appointment Details</h5>
                    </div>
                    <div class="col-2 offset-6 text-center">
                        <a href="{{url_for('create_appointment')}}" class="btn-floating btn waves-effect waves-light tooltipped clanker-button event-button" data-position="left" data-tooltip="SCHEDULE A NEW APPOINTMENT">
                            <i class="material-icons">add</i>
                        </a>
                    </div>   
        </div>
        <div class="row justify-content-md-center">
            <div class="col-8 form-container padding-tab-15">
                <form action="{{ url_for('update_appointment', appt_id=appointment._id)}}" method="POST">
                    <input type="text" id="profile_id" name="profile_id" class="display-none" value="{{prof_id}}">
                    <div class="row">
                        <div class="col-6 input-field margin-left-25">
                            <span id="client-id-span" class="display-none">{{appointment.client_id}}</span>
                            <select id="client-id-select" name="client_id" required>
                                <option value="" disabled>Choose Client</option>
                                {% for client in clients %}
                                    {% if client.profile_id|string() == prof_id|string() %}
                                        <option value="{{client._id}}">{{client.first}} {{client.last}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="client-id-select">Client Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="start-time-container" class="col-6 input-field margin-left-25">
                            <span id="modify-appt-start-time" class="display-none">{{appointment.start_time}}</span>
                                <div>
                                    <div class="inline-block">
                                        <select id="start_time_hour" name="start_time_hour" required>
                                            
                                        </select>
                                    </div>:
                                    <div class="inline-block">
                                        <select id="start_time_minute" name="start_time_minute" required>
                                            <option value="00" selected>00</option>
                                            <option value="30">30</option>
                                        </select>
                                    </div>
                                </div>
                            <label for="start-time-container" class="that-one-label">Appointment Time</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 input-field margin-left-25">
                            <span id="appt-duration-span" class="display-none">{{appointment.appointment_duration}}</span>
                            <select id="appointment_duration-select" name="appointment_duration" required>
                                <option value="1" selected>30 minutes</option>
                                <option value="2">1 hour</option>
                            </select>
                            <label for="appointment_duration-select">Appointment Duration</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 input-field margin-left-25">
                            <input id="start_date" name="start_date" type="text" class="datepicker" value="{{appointment.start_date}}" required>
                            <label for="start_date">Appointment Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 input-field margin-left-25">
                            <textarea name="appointment_notes" id="appointment_notes" class="materialize-textarea">{{appointment.appointment_notes}}</textarea>
                            <label for="appointment_notes">Additional Notes</label>
                        </div>
                    </div>
                    <div class="row lh-85">
                        <div class="col-6 offset-6 text-right">
                            <button class="btn waves-effect waves-light clanker-button action-button" type="submit">Save
                                <i class="material-icons right">save_alt</i>
                            </button>
                            <button class="btn waves-effect waves-light modal-trigger clanker-button action-button" href="#cancel-save-modal">Cancel
                                <i class="material-icons right">cancel_presentation</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="cancel-save-modal" class="modal">
            <div class="modal-content">
                <p>Are you sure with you this cancel this action and return to the Home Page?</p>
            </div>
            <div class="modal-footer text-center">
                <a href="{{url_for('see_appt_details', appt_id=appointment._id)}}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
            </div>
        </div>
{% endblock %}