{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center margin-bot-0">
            <div class="col margin-top-25">
                <p class="uppercase underline inline-block">Edit client:</p><p class="uppercase inline-block">&nbsp;{{client.first}} {{client.last}}</p>
            </div>
        </div>
    <div class="row justify-content-md-center">
        <div class="col form-container padding-tab-15">
            <form id="edit-client-form" action="{{url_for('update_client', prof_id=prof_id, client_id=client._id)}}" method="POST">
            <input type="text" name="profile_id" class="profile_id_field display-none" value="{{client.profile_id}}">
            <div class="row justify-content-md-center">
                <div class="col-5">
                    <div class="input-field">
                        <input type="text" id="client_first" name="first" value="{{client.first}}">
                        <label for="client_first">First Name</label>
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-field">
                        <input type="text" id="client_last" name="last" value="{{client.last}}">
                        <label for="client_last">Last Name</label>       
                    </div>   
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-10 input-field">
                    <input type="text" id="client_location" name="location" value="{{client.location}}">
                    <label for="client_location">Client Location</label>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-10 input-field">
                    <input type="email" id="client_email" name="client_email" value="{{client.client_email}}">
                    <label for="client_email">Email Address</label>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-10 input-field">
                    <input type="text" id="client_tel" name="client_tel" value="{{client.client_tel}}">
                    <label for="client_tel">Telephone Number</label>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-10 input-field">
                    <textarea name="additional_notes" id="additional_notes" class="materialize-textarea">{{client.additional_notes}}</textarea>
                    <label for="additional_notes">Additional Notes</label>
                </div>
            </div>
                <div class="row lh-85">
                        <div class="col-12 text-right">
                            <button class="btn waves-effect waves-light clanker-button action-button" type="submit">Save
                                <i class="material-icons right">save_alt</i>
                            </button>
                            <button class="btn waves-effect waves-light modal-trigger clanker-button action-button">
                                <a href="{{url_for('get_schedule', prof_id=prof_id)}}" class="text-white no-hover">Cancel
                                    <i class="material-icons right">cancel_presentation</i>
                                </a>
                            </button>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="cancel-save-modal" class="modal">
            <div class="modal-content">
                <p>Are you sure with you this cancel this action and return to the Home Page?</p>
            </div>
            <div class="modal-footer text-center">
                <a href="{{url_for('see_client', prof_id=prof_id, client_id=client._id)}}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
            </div>
</div>
{% endblock %}