{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center margin-bot-0">
            <div class="col margin-top-25">
                <p class="uppercase underline inline-block">Edit Profile</p>
            </div>
        </div>
    <div class="row justify-content-md-center">
        <div class="col form-container padding-tab-15">
            <form action="{{url_for('update_profile', prof_id=profile._id)}}" method="POST">
                <input type="text" id="profile_user" name="profile_user" value="{{profile.profile_user}}" class="display-none">
                <input type="text" id="profile_pword" name="profile_pword" value="{{profile.profile_pword}}" class="display-none">
            <div class="row justify-content-md-center">
                <div class="col-5">
                    <div class="input-field">
                        <input type="text" id="profile_first" name="profile_first" value="{{profile.profile_first}}">
                        <label for="client_first">First Name</label>
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-field">
                        <input type="text" id="profile_last" name="profile_last" value="{{profile.profile_last}}">
                        <label for="client_last">Last Name</label>       
                    </div>   
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-10 input-field">
                    <input type="text" id="profile_email" name="profile_email" value="{{profile.profile_email}}">
                    <label for="profile_email">Email Address</label>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-10 input-field">
                    <input type="text" id="profile_tel" name="profile_tel" value="{{profile.profile_tel}}">
                    <label for="profile_tel">Telephone No.</label>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-10 input-field">
                    <input type="text" id="start_time" name="start_time" value="{{profile.start_time}}">
                    <label for="start_time">Schedule Start Time (hh:mm)</label>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-10 input-field">
                    <input type="text" id="end_time" name="end_time" value="{{profile.end_time}}">
                    <label for="end_time">Schedule End Time (hh:mm)</label>
                </div>
            </div>
            <div class="row lh-85">
                <div class="col-6 offset-6 text-right">
                            <button class="btn waves-effect waves-light clanker-button action-button" type="submit">Save
                                <i class="material-icons right">save_alt</i>
                            </button>
                            <button class="btn waves-effect waves-light modal-trigger clanker-button action-button" href="#cancel-save-modal">Cancel
                                <i class="material-icons right">cancel_presentation</i>
                            </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<div id="cancel-save-modal" class="modal">
            <div class="modal-content">
                <p>Are you sure with you this cancel this action and return to the Home Page?</p>
            </div>
            <div class="modal-footer text-center">
                <a href="{{url_for('get_profile', prof_id=profile._id)}}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
            </div>
        </div>
{% endblock %}