{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center margin-bot-0">
        <div class="col">
            <p class="uppercase margin-top-25 underline">New Appointment</p>
         </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col form-container padding-tab-15">
            <form action="{{url_for('insert_client', prof_id=prof_id)}}" method="POST">
                <input type="text" id="profile_id" name="profile_id" value="{{prof_id}}" class="display-none" required >
            <div class="row justify-content-md-center">
                <div class="col-5">
                    <div class="input-field">
                        <input type="text" id="client_first" name="first" required>
                        <label for="client_first">First Name</label>
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-field">
                        <input type="text" id="client_last" name="last">
                        <label for="client_last">Last Name</label>       
                    </div>   
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-10 input-field">
                    <input type="text" id="client_location" name="location">
                    <label for="client_location">Client Location</label>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-10 input-field">
                    <input type="email" id="client_email" name="client_email" required>
                    <label for="client_email">Email Address</label>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-10 input-field">
                    <input type="text" id="client_tel" name="client_tel">
                    <label for="client_tel">Telephone Number</label>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-10 input-field">
                    <textarea name="additional_notes" id="additional_notes" class="materialize-textarea"></textarea>
                    <label for="additional_notes">Additional Notes</label>
                </div>
            </div>
            <div class="row lh-85">
                        <div class="col-6 offset-6 text-right">
                            <button class="btn waves-effect waves-light clanker-button action-button" type="submit">Save
                                <i class="material-icons right">save_alt</i>
                            </button>
                            <a href="{{url_for('get_schedule', prof_id=prof_id)}}" class="text-white no-hover btn waves-effect waves-light modal-trigger clanker-button action-button">Cancel
                                    <i class="material-icons right">cancel_presentation</i>
                                </a>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="cancel-save-modal" class="modal">
            <div class="modal-content">
                <p>Are you sure with you this cancel this action and return to the Home Page?</p>
            </div>
            <div class="modal-footer">
                <a href="{{url_for('get_schedule', prof_id=prof_id)}}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
            </div>
    </div>
{% endblock %}