{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center margin-bot-0">
        <div class="col">
            <p class="uppercase margin-top-25 underline">New Appointment</p>
         </div>
    </div>
        <div class="row justify-content-md-center">
            <div class="col form-container padding-tab-15">
                <form action="{{ url_for('insert_appointment', prof_id=prof_id) }}" method="POST">
                    <div class="row justify-content-md-center">
                        <div class="col-10 input-field">
                            <select id="client-info-select" name="client_id" required>
                                <option value="" disabled selected>Choose Client</option>
                                {% for client in allclients %}
                                    {% if client_id|string()==client._id|string() %}
                                        <option value="{{client._id}}" selected>{{client.first}} {{client.last}}</option>
                                    {% else %}
                                        <option value="{{client._id}}">{{client.first}} {{client.last}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="client-id-select">Client Name</label>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-5 input-field">
                            <select id="start-time-select" name="start_time" required>
                                <option value="" disabled selected>Start Time</option>
                                {% for startTime in timeline_opts %}
                                    <option value="{{startTime}}">{{startTime}}</option>
                                {% endfor %}
                            </select>
                            <label for="start-time-select">Start Time</label>
                        </div>
                        <div class="col-5 input-field">
                            <select id="end-time-select" name="end_time" required>
                                <option value="" disabled selected>End Time</option>
                                {% for endTime in timeline_opts %}
                                    <option value="{{endTime}}">{{endTime}}</option>
                                {% endfor %}
                            </select>
                            <label for="end-time-select">End Time</label>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-10 input-field">
                            <select id="appointment_duration-select" name="appointment_duration" required>
                                <option value="" disabled selected>Duration</option>
                                <option value="1" >30 Minutes</option>
                                <option value="2" >1 Hour</option>
                            </select>
                            <label for="appointment_duration-select">Appointment Duration</label>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-10 input-field">
                            <input id="start_date_input" name="start_date" type="text" class="datepicker" value="" required>
                            <label for="start_date">Appointment Date</label>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-10 input-field">
                            <textarea name="appointment_notes" id="appointment_notes_input" class="materialize-textarea" ></textarea>
                            <label for="appointment_notes">Additional Notes</label>
                        </div>
                    </div>
                    <div class="row lh-85">
                        <div class="col-8 offset-4 text-right">
                            <button class="btn waves-effect waves-light clanker-button action-button" type="submit">Save
                                <i class="material-icons right">save_alt</i>
                            </button>
                            <button class="btn waves-effect waves-light modal-trigger clanker-button action-button" href="#cancel-save-modal">Cancel
                                <i class="material-icons right">cancel_presentation</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="cancel-save-modal" class="modal">
            <div class="modal-content">
                <p>Are you sure with you this cancel this action and return to the Home Page?</p>
            </div>
            <div class="modal-footer text-center">
                <a href="{{url_for('get_schedule', prof_id=prof_id)}}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
            </div>
        </div>
{% endblock %}