{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h3>Create New Appointment</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <form action="{{ url_for('insert_appointment') }}" method="POST">
                    <div class="row">
                        <div class="col-6">
                            Client:
                        </div>
                        <div class="col-6 input-field">
                            <select id="client_id" name="client_id" required>
                                <option value="" disabled selected>Choose Client</option>
                                {% for client in clients %}
                                <option value="{{client._id}}">{{client.first}} {{client.last}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Appointment Time:
                        </div>
                        <div class="col-6 input-field">
                            <select id="start_time_hour" name="start_time_hour" class="inline-block" required>
                                <option value="09" selected>09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                
                            </select>
                            <select id="start_time_minute" name="start_time_minute" class="inline-block" required>
                                <option value="00" selected>00</option>
                                <option value="30">30</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Appointment Duration:
                        </div>
                        <div class="col-6 input-field">
                            <select id="appointment_duration" name="appointment_duration" required>
                                <option value="1" selected>30 minutes</option>
                                <option value="2">1 hour</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Appointment Date:
                        </div>
                        <div class="col-6 input-field">
                            <input id="start_date" name="start_date" type="text" class="datepicker" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Appointment Notes:
                        </div>
                        <div class="col-6">
                            <textarea name="appointment_notes" id="appointment_notes" class="materialize-textarea"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn waves-effect waves-light" type="submit">Save
                                <i class="material-icons right">save_alt</i>
                            </button>
                            <button class="btn waves-effect waves-light modal-trigger" href="#cancel-save-modal">Cancel
                                <i class="material-icons right">cancel_presentation</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="cancel-save-modal" class="modal">
            <div class="modal-content">
                <p>Are you sure with you this cancel this action and return to the Home Page?</p>
            </div>
            <div class="modal-footer">
                <a href="{{url_for('get_schedule')}}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
            </div>
    </div>
{% endblock %}