{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-md-center margin-bot-0">
            <div class="col margin-top-25">
                <p class="uppercase underline inline-block">Your Profile</p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col list-container padding-tab-15">
                    <div class="row lh-50">
                        <div class="col-6">
                            Full Name:
                        </div>
                        <div class="col-6">
                            {{profile.profile_first}} {{profile.profile_last}}                    
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Email Address:
                        </div>
                        <div class="col-6">
                            {{profile.profile_email}}
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-6">
                            Telephone No.:
                        </div>
                        <div class="col-6">
                            {{profile.profile_tel}}
                        </div>
                    </div>
                    <div class="row lh-50">
                        <div class="col-12 text-right">
                            <button class="btn waves-effect waves-light clanker-button action-button">
                                <a href="{{url_for('edit_profile', prof_id=profile._id)}}" class="text-white no-hover">Edit 
                                    <i class="material-icons right">mode_edit</i>
                                </a>
                            </button>
                            <button class="btn waves-effect waves-light clanker-button action-button">
                                <a href="{{url_for('edit_profile', prof_id=profile._id)}}" class="text-white no-hover">Sign Out
                                    <i class="material-icons right">power_settings_new</i>
                                </a>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}