{% extends 'base.html' %}
{% block content %}
<div class="data-container display-none">
    <div class="appointment-data-container">
        {% for app in appointments %}
        <div>{{app._id}} {{app.client_id}} {{app.start_time}} {{app.appointment_duration}} {{app.start_date}} {{app.appointment_notes}}</div>
{% endfor %}
    </div>
    <div class="client-data-container">
        {% for client in clients %}
        <div>{{client._id}} {{client.first}} {{client.last}} {{client.client_email}} {{client.client_tel}}</div>
        {% endfor %}
    </div>
</div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row margin-top-25">
            <div id="welcome-div" class="col-4 offset-4">
                <p class="margin-bot-0">
                    Welcome, <span id="welcome-client-name"></span>! 
                    Your next appointment is: <span id="welcome-appt-date"></span> at: <span id="welcome-appt-time"></span> with: <span id="welcome-appt-name"></span>
                </p>
            </div>
            <div class="col-2 offset-2 text-center">
                <a href="{{url_for('create_appointment')}}" class="btn-floating btn waves-effect waves-light tooltipped add-button" data-position="left" data-tooltip="CREATE A NEW APPOINTMENT">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div id="schedule-container" class="row no-gutters text-center uppercase">
                    <div id="timeline-col" class="col-1 day-col">
                        <div class="schedule-column-header">&emsp;</div>
                        <div>
                            <ul></ul>
                        </div>
                    </div>
                    <div id="sunday-col" class="col day-col">
                        <div class="schedule-column-header">Sunday&emsp;<span class="sch-col-header-date"></span></div>
                    </div>
                    <div id="monday-col" class="col day-col">
                        <div class="schedule-column-header">Monday&emsp;<span class="sch-col-header-date"></span></div>
                    </div>
                    <div id="tuesday-col" class="col day-col">
                        <div class="schedule-column-header">Tuesday&emsp;<span class="sch-col-header-date"></span></div>
                    </div>
                    <div id="wednesday-col" class="col day-col">
                        <div class="schedule-column-header">Wednesday&emsp;<span class="sch-col-header-date"></span></div>
                    </div>
                    <div id="thursday-col" class="col day-col">
                        <div class="schedule-column-header">Thursday&emsp;<span class="sch-col-header-date"></span></div>
                    </div>
                    <div id="friday-col" class="col day-col">
                        <div class="schedule-column-header">Friday&emsp;<span class="sch-col-header-date"></span></div>
                    </div>
                    <div id="saturday-col" class="col day-col">
                        <div class="schedule-column-header">Saturday&emsp;<span class="sch-col-header-date"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul id="event-dropdown" class="dropdown-content">
    <li id="see-app-details"><a>See Details</a></li>
    <li id="modify-app"><a>Edit App.</a></li>
    <li id="delete-app"><a>Delete App.</a></li>

</ul>
{% endblock %}